<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <title>Jinja2 Expressions</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=qa6f5ypPsvK_6hkf5PL50LtbSYHRNsmtp8gblfXQgfMzC7XkTBO8ue9FLJBXmTze1iXZSpXWUnp6DfIdec7eaSLrNydF2-h6x6azdDs-7J0ZpHrRd6VkkBEtI80zJa1ArsLAOJKUmU_vyfCnFufpfwEoXhuiCCTBEg8sq7332KzPlr_rK8TgnMy-MXwASYoI7wHC9rqCJe8nuodXv4Uu2lGVc_AU9ywNbPj8ddlut6aHsnn9W-NkUqWvSYUgD3pJJFpaInc45kcrAKT8drtjHUIZapmfQGKwX7v5ESlvuvzamu_gDz9l4DkyjztEvPu1cmSDyK1M_FK60yHNhKmqbK1s4wjD_C3Xgs9b254sX_nr2dLn2m-a37hHuhDwil2o3rek-LErODYhZoYHfu2qhw2RoObwDdrNn7y2JURnr7m-VRh3sVD3BtFMDSTZ-qlfasXGhXldKWxjSbiJNPFfBlRg19MFKWOeNOYlUTLNBlV_jRNo0kMbKyOhLyM3ZVwmJNO-0dkum9rvN-thNl5wVWqePG0OHySXThaEJbVnS8rK6_3IGiIu42gCRXfPSt53smUf6RTcI2kaNuUHVRt9EZgVA3pxh_jPAtx_aMl5FRiT9SC60v279Rk9YRx_TBDeBE3X8Z1B_TXPnLd2lSPm48qvzLVb37pQCZZNz2mzX3tQk3zesge_Xa_7fHx_YzYOr4lL_r0hk-tfKBBGUSdNNqc8x6Z_Zk8Ih_Wq5o6R74nqh_COJ1frTe-GVT8Qg_cyXYIewpkzLCyntFfS31E89A" charset="UTF-8"></script>

</head>
<body>
  <h2>Expressions in Jinja2</h2>

  <h3>Interpolation</h3>

  <p>
    A quick {{ color }} {{ animal_one }} jumps over the lazy
    {{ animal_two }}.
  </p>

  <h3>Addition and Subtraction</h3>

  <p>
    Alice bought {{ orange_amount }} oranges and {{ apple_amount }} apples.
  </p>

  <p>
    In total she has {{ orange_amount + apple_amount }} fruits.
  </p>

  <p>
    She gave {{ donate_amount }} fruits to Bob.
  </p>

  <p>
    Now she has {{ orange_amount + apple_amount - donate_amount }}
    fruits remaining.
  </p>

  <h3>String Concatenation</h3>

  <p>
    A lot of people think {{ first_name + ' ' + last_name }} is the most
    powerful Marvel character.
  </p>
</body>
</html>